html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.toolbox {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    z-index: 20;
}

.canvasContainer {
    width: 100%;
    height: 100%;
}

.overlayCanvas {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(211, 185, 240);
    z-index: 0;
}

.infoContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.tableContainer {
    padding: 20px 20px 20px 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    max-height: 80%;
}

.tableHideButton {
    margin-top: 10px;
    width: max-content;
}

.innerContainer {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgray;
    overflow: auto;
}

.truthTable {
    display: block;
    padding: 0px;
    table-layout: fixed;
    width: fit-content;
    height: 100%;
    background-color: lightgray;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td {
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    background-color: white;
    white-space: nowrap;
}

.infoLoadingContainer {
    color: white;
}